
#set-password.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 Change your Password
			.modal-body
				form(method="post", action="/reset-password")#set-password-form.well
					.form-group
						label enter your new password
						input.form-control(type="password", name="pass", id='newpass-tf').required
						.alert.alert-danger.hide
			.modal-footer
				button(type="submit" form="set-password-form")#set-password-submit.btn.btn-primary change password
